body, div, form, table, th, tr, td, section, button, option, input{
    padding:0;
    margin:0;
    text-align:center;
}
select, option, button{
    width:300px;
}
th{
    color:whitesmoke;
    background-color:grey;
    height:30px;

}
td{
    padding:0 0.5em;
}
.odd{
    background-color:lightgrey;
}
div{
    margin:auto;
}
#a2{
    width:500px;
    height:50px;
}
#a2 table{
    height:30px;
}
#a4{
    width:500px;
    height:500px;
}
td{
    border:1px solid black;
    height:30px;
}
table{
    width:498px;
}
#a1{
    width:300px;
    height:30px;
}
#a1 input{
    width:140px;
    margin:0 2px;
}
div{
    margin:auto;
}